/* Global Configuration */

@font-face {
    font-family: BLACK_BUBBLE;
    src: url("../fonts/BLACK_BUBBLE.ttf");
}

* {
    box-sizing: border-box;

    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    font-size: 16px; /* Base font-size */
}

body {
    background-color: #ffd5a1;
}

/* Landpage */

#zen-intro header {
    height: 85vh;
    text-align: center;

    background: url("../images/landpage-colored-vertical-sidebar.png") repeat-y,
                url("../images/landpage-colored-vertical-sidebar.png") repeat-y right top,
                url("../images/landpage-colored-horizontal-sidebar.png") repeat-x,
                url("../images/landpage-scrollmore.png") no-repeat center 80%,
                url("../images/landpage-divider.png") repeat-x left bottom,
                #ff4d67;

    color: #ffd5a1;
}

#zen-intro header h1, #zen-intro header h2 {
    margin: 0;
}

#zen-intro header h1 {
    padding-top: 33.3vh;
    padding-bottom: 1.57vh;

    letter-spacing: 0.3rem;
}

#zen-intro header h2, #zen-intro header h2 abbr {
    font-family: BLACK_BUBBLE;
}

#zen-intro header h2 abbr {
    text-decoration: underline dotted #52445F;
}

@media screen and (min-width: 0px) {
    #zen-intro header h1 {
        background-image: none;
        background: url("../images/landpage-header-divider.png") no-repeat center 98%/calc(100px + 20vw) 5px;

        font-size: 1rem;
    }

    #zen-intro header h2 {
        font-size: 0.6rem;
    }
}

@media screen and (min-width: 400px) {
    #zen-intro header h1 {
        background-image: none;
        background: url("../images/landpage-header-divider.png") no-repeat center 98%/calc(100px + 20vw) 7px;

        font-size: calc(1rem + 3vw);
    }

    #zen-intro header h2 {
        font-size: calc(0.6rem + 1vw);
    }
}

@media screen and (min-width: 800px) {
    #zen-intro header h1 {
        background-image: none;
        background: url("../images/landpage-header-divider.png") no-repeat center 97%/calc(100px + 20vw) 7px;

        font-size: calc(1rem + 4vw);
    }
}

@media screen and (max-height: 500px) {
    #zen-intro header {
        background-image: none;
        background: url("../images/landpage-colored-vertical-sidebar.png") repeat-y,
        url("../images/landpage-colored-vertical-sidebar.png") repeat-y right top,
        url("../images/landpage-colored-horizontal-sidebar.png") repeat-x,
        url("../images/landpage-divider.png") repeat-x left bottom,
        #ff4d67;
    }
}

/* Summary Box */

#zen-summary {
    width: calc(200px - 10vw);
    min-width: 1000px;
    min-height: 200px;
    margin: 1rem auto;
    position: relative;

    background: url("../images/summary-box-picture.png") no-repeat left top/contain,
        rgba(172,172,172, 0.8);
}

#zen-summary p {
    position: absolute;
    left: 22%;

    font-size: calc(1rem + 0.5vw);
}

#zen-summary p:nth-child(2) {
    bottom: 0%;
}

#zen-summary a {
    padding: 0 5px;

    background-color: #ff4d67;

    color: #ffd5a1;
    text-decoration: none;
    text-transform: uppercase;
}

/* Main Content */

#zen-preamble, #zen-supporting {
    width: 40%;
    margin-top: 0;
    margin-left: 10%;
    float: left;
}

#zen-supporting {
    margin-top: 0;
    width: 40.1%; /* extra percentage makes zen-supporting go underneath zen-preamble */
}

#zen-preamble h3, #zen-supporting h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    display: inline-block;

    background: url("../images/content-header-background.png") no-repeat 2rem bottom/90% 1rem;

    font-weight: normal;
    font-size: 1.6rem;
    letter-spacing: 0.1em;
}

#zen-preamble p, #zen-supporting p {
    font-weight: normal;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
}

/* Aside */

aside {
    position: relative;
}

.wrapper {
    position: absolute;
    right: 5%;
}

#design-selection ul, #design-archives ul, #zen-resources ul {
    padding-left: 0;

    list-style-type: none;
}

#design-selection li, #design-archives li, #zen-resources li {
    width: 300px;
    margin: 10px 0;
    
    padding: 2rem 0.5rem 2rem 20%;

    background-image: linear-gradient(to right, #cd4666, #cd4666 5%, #52445f 5%, #52445f 8%, #cd4666 7%, #cd4666 15%, #ff4d67 15%, #ff4d67 100%);

    color: #52445f;
    font-weight: bold;
    font-style: italic;
}

.select, .archives, .resources {
    padding-bottom: 20px;
    text-align: center;

    background: url("../temp.png") no-repeat;
    background-size: 204.8px 102.4px;
    background-position: center -20px;

    font-weight: normal;
    letter-spacing: 0.1rem;
}

#design-selection a, #design-archives a, #zen-resources a{
    color: #ffd5a1;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 0.1rem;
}

.design-name, .designer-name {
    color: #ffd5a1;

    font-style: normal;
    font-weight: normal;
    line-height: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.design-name:after {
    content:"\a";
    white-space: pre;
}

.indicator {
    color: #52445F;
}

/* Footer */
/* div[role=contentinfo], footer */
#zen-supporting {
    position: relative;
}
footer {
    width: 100%;
    overflow:visible;
    margin-right: 10%;
    clear: both;
    float: left;
}

footer a {
}