/* Global Configuration */

@font-face {
  font-family: "Norwester";
  src: url("../fonts/norwester.otf");
}

* {
  box-sizing: border-box;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  font-size: 16px; /* Base font-size */
}

body {
  background-color: #333;
}

/* Landing page */

#brandan-landing {
  -webkit-animation: LandpageTransition 51s ease infinite;
  -moz-animation: LandpageTransition 51s ease infinite;
  -o-animation: LandpageTransition 51s ease infinite;
  animation: LandpageTransition 51s ease infinite;

  height: 75vh;

  display: flex;
  flex-flow: row wrap; /* flex-direction: row; flex-wrap: wrap; */
  justify-content: space-around;

  background: linear-gradient(270deg, #656cd9, #d94b58);
  background-size: 400% 400%;
}

@-webkit-keyframes LandpageTransition {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-moz-keyframes LandpageTransition {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-o-keyframes LandpageTransition {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@keyframes LandpageTransition {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}

  /* > Main navbar */

#landing-nav {
  width: 100%;
}

#landing-nav ul {
  text-align: right;

  list-style-type: none;
}

#landing-nav ul li {
  margin: 1rem 2rem 0 0;

  display: inline-block;

  color: #FFF;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

#landing-nav ul li:last-child {
  padding: 0 4rem 0 0;
}

/* #landing-nav ul li:first-child, ul li:first-child + li {
  margin: 0 1.2rem 0 0;
} */

  /* > Landing/header text */

#landing-text h1 {
  margin: 9rem 0 0 0;
  padding: 0;

  color: #FFF;
  font-weight: normal;
  font-size: 6rem;
  letter-spacing: 1rem;
}

#landing-text p {
  margin: 0;
  padding: 0 0 0 0.5rem;
  text-align: center;

  color: #FFF;
  font-style: italic;
}


  /* > Floating mio! */

#brandan-landing aside {
  animation-name: MioFloating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  margin: 5px 0 40px 30px;
}

#brandan-landing aside img {
  max-width: 25vw;
  min-width: 200px;
}

@keyframes MioFloating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 30px); }
  100%   { transform: translate(0, -0px); }   
}

/* About section */

  /* > About cover */
#brandan-about header {
  height: 45vh;
  text-align: center;

  background: url("../images/about-header.png") no-repeat center 5rem,
    url("../images/about-background.png") no-repeat left top/cover; /* no background? */
}

#brandan-about header h2 {
  margin-top: 10rem;

  display: inline-block;

  background-color: #212121;

  color: #FFF;
  font-size: 4rem;
  font-family: Norwester;
  letter-spacing: 1rem;
}

/* > About content */

#about-text {
  /* background: #656cd9; */
}

#about-text p {
  margin: 0;

  display: inline-block;

  background-color: #d94b58;

  color: #FFF;
  font-weight: bold;
  font-size: 5rem;
}

/* #brandan-about {
  width: 100%;
  height: 45vh;
  margin: 0 auto;

  position: relative;

  text-align: center;

  background: url("../images/about-header.png") no-repeat center 5rem,
    url("../images/about-background.png") no-repeat left top/cover;
}

#about-credits {
  margin: 0;

  position: absolute;
  bottom: 0%;
  left: 0%;

  background-color: rgba(33, 33, 33, 0.7);
}

#about-credits p {
  margin: 0;

  color: #FFF;
}

#brandan-about header {
  padding-top: 7rem;
}

#brandan-about header h2 {
  padding: 10px;
  display: inline-block;
  background-color: #212121;

  color: #FFF;
  font-size: 4rem;
  font-family: Norwester;
  letter-spacing: 1rem;
} */
