/* Global Configuration */

@font-face {
    font-family: BLACK_BUBBLE;
    src: url("../fonts/BLACK_BUBBLE.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #ffd5a1;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Landpage */

#zen-intro header {
    height: 85vh;
    margin: 0;
    padding: 0;

    background: url("../images/landpage-colored-vertical-sidebar.png") repeat-y,
                url("../images/landpage-colored-vertical-sidebar.png") repeat-y right top,
                url("../images/landpage-colored-horizontal-sidebar.png") repeat-x,
                url("../images/landpage-divider.png") repeat-x left bottom,
                #ff4d67;
}

#zen-intro header h1, #zen-intro header h2 {
    margin: 0;
    text-align: center;

    color: #ffd5a1;
}

#zen-intro header h1 {
    padding-top: 33.3vh;

    font-weight: normal;
    font-size: 5em;
}

#zen-intro header h2, #zen-intro header h2 abbr { /* have to do abbr aswell because of global rule for font */
    font-weight: normal;
    font-family: BLACK_BUBBLE;
}

@media screen and (max-width: 715px) {
    #zen-intro header h1 {
        word-spacing: 100vw; /* causes line break after every word due to large space between words */
    }
}
