/* Global Configuration */

@font-face {
    font-family: BLACK_BUBBLE;
    src: url("../fonts/BLACK_BUBBLE.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    font-size: 16px; /* Base font-size */
}

body {
    background-color: #ffd5a1;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Landpage */

#zen-intro header {
    height: 85vh;
    margin: 0;
    padding: 0;

    background: url("../images/landpage-colored-vertical-sidebar.png") repeat-y,
                url("../images/landpage-colored-vertical-sidebar.png") repeat-y right top,
                url("../images/landpage-colored-horizontal-sidebar.png") repeat-x,
                url("../images/landpage-scrollmore.png") no-repeat center 80%,
                url("../images/landpage-divider.png") repeat-x left bottom,
                #ff4d67;
}

#zen-intro header h1, #zen-intro header h2 {
    margin: 0;
    text-align: center;

    color: #ffd5a1;
}

#zen-intro header h1 {
    padding-top: 33.3vh;
    padding-bottom: 1.57vh;
    /* padding-top: 20%;
    padding-bottom: 1%; */

    background: url("../images/landpage-header-divider.png") no-repeat center 97%; /* using percentage here instead because it needs to be based relative to the h1 in header rather than the dimensions of the viewport */

    font-weight: normal;
    /* font-size: 7em; */
    /* font-size: 7vw; */
    /* font-size: 6.5rem;
    letter-spacing: 0.8rem; */
}

#zen-intro header h2, #zen-intro header h2 abbr { /* have to do abbr aswell because of global rule for font */
    font-weight: normal;
    /* font-size: 2vw; */
    font-family: BLACK_BUBBLE;
}

@media screen and (min-width: 0px) {
    #zen-intro header h1 {
        background-image: none;
        background: url("../images/landpage-header-divider.png") no-repeat center 98%/50vw 5px;

        font-size: 1.7rem;
    }

    #zen-intro header h2, #zen-intro header abbr {
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 400px) {
    #zen-intro header h1 {
        background-image: none;
        background: url("../images/landpage-header-divider.png") no-repeat center 98%/50vw 5px;

        font-size: calc(1rem + 5vw);
    }

    #zen-intro header h2, #zen-intro header abbr {
        font-size: calc(1rem + 0.1vw);
    }
}

@media screen and (min-width: 630px) {
    #zen-intro header h1 {
        background-image: none;
        background: url("../images/landpage-header-divider.png") no-repeat center 97%/50vw 8px;

        font-size: calc(1rem + 8vw);
    }

    #zen-intro header h2, #zen-intro header abbr {
        font-size: calc(1rem + 1vw);
    }
}

@media screen and (min-width: 1001px) {
    #zen-intro header h1 {
        font-size: 7rem;
    }

    #zen-intro header h2, #zen-intro header abbr {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 385px) and (max-height: 350px) {
    #zen-intro header {
        background-image: none;
        background: url("../images/landpage-colored-vertical-sidebar.png") repeat-y,
                    url("../images/landpage-colored-vertical-sidebar.png") repeat-y right top,
                    url("../images/landpage-colored-horizontal-sidebar.png") repeat-x,
                    url("../images/landpage-divider.png") repeat-x left bottom,
                    #ff4d67;
    }
}

@media screen and (min-width: 400px) and (max-height: 660px) {
    #zen-intro header {
        background-image: none;
        background: url("../images/landpage-colored-vertical-sidebar.png") repeat-y,
                    url("../images/landpage-colored-vertical-sidebar.png") repeat-y right top,
                    url("../images/landpage-colored-horizontal-sidebar.png") repeat-x,
                    url("../images/landpage-divider.png") repeat-x left bottom,
                    #ff4d67;
    }
}

/* Summary Box */

#zen-summary {
    width: 100%;
    height: 350px;
    /* margin: 1rem auto; */
    border: 5px solid #52445F;
    padding: 1rem;
    position: relative;
    
    background: url("../images/summary-box-background.jpg") no-repeat left top/cover,
        #c9baa8;
}

#zen-summary p {
    display: inline;

    background-color: #000;

    color: #FFF;
    font-size: calc(1rem + 1.4vw);
    line-height: 1.3em;
    letter-spacing: 0.3rem;
}

#zen-summary p:nth-child(2) {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

#zen-summary p a {
    background-color: #ff4d67;

    color: #ffd5a1;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (max-width: 875px) {
    #zen-summary {
        height: 450px;
    }
}