/* Global Configuration */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

@font-face {
    font-family: BLACK_BUBBLE;
    src: url("../fonts/BLACK_BUBBLE.ttf");
}

h2 {
    font-family: BLACK_BUBBLE;
}