/* Global Configuration */

@font-face {
    font-family: BLACK_BUBBLE;
    src: url("../fonts/BLACK_BUBBLE.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #ffd5a1;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Landpage */

#zen-intro header {
    height: 85vh;
    margin: 0;
    padding: 0;

    background: url("../images/landpage-colored-vertical-sidebar.png") repeat-y,
                url("../images/landpage-colored-vertical-sidebar.png") repeat-y right top,
                url("../images/landpage-colored-horizontal-sidebar.png") repeat-x,
                url("../images/landpage-scrollmore.png") no-repeat center 85%,
                url("../images/landpage-divider.png") repeat-x left bottom,
                #ff4d67;
}

#zen-intro header h1, #zen-intro header h2 {
    margin: 0;
    text-align: center;

    color: #ffd5a1;
}

#zen-intro header h1 {
    padding-top: 33.3vh;
    padding-bottom: 1.57vh;
    /* padding-top: 20%;
    padding-bottom: 1%; */

    background: url("../images/landpage-header-divider.png") no-repeat center 97%; /* using percentage here instead because it needs to be based relative to the h1 in header rather than the dimensions of the viewport */

    font-weight: normal;
    /* font-size: 7em; */
    font-size: 7vw;
    letter-spacing: 0.1em;
}

#zen-intro header h2, #zen-intro header h2 abbr { /* have to do abbr aswell because of global rule for font */
    font-weight: normal;
    font-family: BLACK_BUBBLE;
}

@media screen and (max-width: 1115px) {
    #zen-intro header h1 {
        font-size: 5em;
    }
}

@media screen and (max-width: 850px) {
    #zen-intro header h1 {
        padding-top: 25vh;
        
        background-image: none;
        background: url("../images/landpage-header-divider.png") no-repeat center 97%/50vw 8px;
    }
}

@media screen and (min-height: 785px) and (max-width: 850px) {
    #zen-intro header h1 {
        word-spacing: 100vw; /* causes line break after every word due to large space between words */
    }
}

@media screen and (max-width: 820px) {
    #zen-intro header h1 {
        font-size: 8vw;
    }

@media screen and (max-width: 530px) {
    #zen-intro header h2 {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 470px) {
    #zen-intro header h1 {
        font-size: 3.7em;
    }

    #zen-intro header h2 {
        font-size: 0.9em;
    }
}

@media screen and (max-height: 535px) {
    #zen-intro header h1 {
        padding-top: 20vh;
    }
}

@media screen and (max-height: 370px) {
    #zen-intro header {
        padding-top: 5vh;

        background-image: none; /* view-more button is redudant at this point, though it should be removed already at a higher height than this */
        background: url("../images/landpage-colored-vertical-sidebar.png") repeat-y,
        url("../images/landpage-colored-vertical-sidebar.png") repeat-y right top,
        url("../images/landpage-colored-horizontal-sidebar.png") repeat-x,
        url("../images/landpage-divider.png") repeat-x left bottom,
        #ff4d67;
    }
}

