/* Global Configuration */

@font-face {
  font-family: "Norwester";
  src: url("../fonts/Norwester.otf");
}

@font-face {
  font-family: "Alatsi";
  src: url("../fonts/Alatsi-Regular.ttf");
}

@font-face {
  font-family: "BLACK_BUBBLE";
  src: url("../fonts/BLACK_BUBBLE.ttf");
}


* {
  box-sizing: border-box;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  font-size: 16px; /* Base font-size */
}

body {
  -webkit-animation: bodyTransition 45s ease infinite;
  -moz-animation: bodyTransition 45s ease infinite;
  -o-animation: bodyTransition 45s ease infinite;
  animation: bodyTransition 45s ease infinite;

  background: linear-gradient(270deg, #656cd9, #d94b58);
  background-size: 400% 400%;
}

@-webkit-keyframes bodyTransition {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-moz-keyframes bodyTransition {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-o-keyframes bodyTransition {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@keyframes bodyTransition {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}

/* Landing page */

/* > Main navbar */

#landing-nav ul {
  margin-right: 3%;
  list-style-type: none;
}

#landing-nav ul li {
  padding: 0.2rem 1rem 1rem 1rem;
  float: right;

  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

#brandan-landing ul a {
  color: #FFF;
  text-decoration: none;
}

#brandan-landing ul a:hover {
  background-color: rgba(0, 0, 0, 0.2);

  color: #FFF;
  text-decoration: none;
}

/* > Header */

#landing-text {
  margin: 20% 0 0 10%;
  float: left;

  color: #FFF;
}

#landing-text h1 {
  margin: 0;
    
  font-weight: normal;
  font-size: 6rem;
  letter-spacing: 1rem;
}

#landing-text p {
  margin: 0;
  text-align: center;

  font-style: italic;
}

/* > Floating ball-eye thingy */

#brandan-landing aside {
  animation-name: MioFloating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  margin: 10% 10% 0 0;

  float: right;
  clear: right;
}

#brandan-landing aside img {
  max-width: 25vw;
  min-width: 200px;
}

@keyframes MioFloating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 30px); }
  100%   { transform: translate(0, -0px); }   
}

/* Main footer */

footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;

  background: rgba(0,0,0, 0.2);

  color: white;
}

footer p {
  font-style: italic;
  font-family: "Alatsi";
}

/* Media Queries */

/* > index.html */

@media screen and (max-width: 1100px) {

  /* Main navbar */

  #landing-nav ul li {
    margin: 0;
    padding: 0.2rem 0.7rem 0.7rem 0.7rem;
    font-size: calc(0.5rem + 1vw);
  }

  /* Header */

  #landing-text {
    width: 100%;
    margin: 10% auto;
    text-align: center;
  }

  #landing-text h1 {
    font-size: calc(1rem + 7vw);
  }

  /* Floating ball-eye thingy */

  #brandan-landing aside {
    margin: 0;
    float: none;
  }

  #brandan-landing aside img {
    display: block;
    margin: 0 auto;
  }

}
