/* Global Configuration */

@font-face {
  font-family: "Norwester";
  src: url("../fonts/Norwester.otf");
}

@font-face {
  font-family: "Alatsi";
  src: url("../fonts/Alatsi-Regular.ttf");
}

@font-face {
  font-family: "BLACK_BUBBLE";
  src: url("../fonts/BLACK_BUBBLE.ttf");
}


* {
  box-sizing: border-box;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;

  font-size: 16px; /* Base font-size */
}

body {
  /* background-color: #333; */
  -webkit-animation: LandpageTransition 51s ease infinite;
  -moz-animation: LandpageTransition 51s ease infinite;
  -o-animation: LandpageTransition 51s ease infinite;
  animation: LandpageTransition 51s ease infinite;


  background: linear-gradient(270deg, #181818, gray);
  background-size: 400% 400%;
}

/* Landing page */

#brandan-landing {
  -webkit-animation: LandpageTransition 51s ease infinite;
  -moz-animation: LandpageTransition 51s ease infinite;
  -o-animation: LandpageTransition 51s ease infinite;
  animation: LandpageTransition 51s ease infinite;

  height: 75vh;

  display: flex;
  flex-flow: row wrap; /* flex-direction: row; flex-wrap: wrap; */
  justify-content: space-around;

  background: linear-gradient(270deg, #656cd9, #d94b58);
  background-size: 400% 400%;
}

@-webkit-keyframes LandpageTransition {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-moz-keyframes LandpageTransition {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-o-keyframes LandpageTransition {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@keyframes LandpageTransition {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}

  /* > Main navbar */

#landing-nav {
  width: 100%;
}

#landing-nav ul {
  text-align: right;

  list-style-type: none;
}

#landing-nav ul li {
  margin: 1rem 2rem 0 0;

  display: inline-block;

  color: #FFF;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

#landing-nav ul a {
  color: #FFF;
  text-decoration: none;
}

#landing-nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#landing-nav ul li:last-child {
  padding: 0 4rem 0 0;
}

/* #landing-nav ul li:first-child, ul li:first-child + li {
  margin: 0 1.2rem 0 0;
} */

  /* > Landing/header text */

#landing-text h1 {
  margin: 9rem 0 0 0;
  padding: 0;

  color: #FFF;
  font-weight: normal;
  font-size: 6rem;
  letter-spacing: 1rem;
}

#landing-text p {
  margin: 0;
  padding: 0 0 0 0.5rem;
  text-align: center;

  color: #FFF;
  font-style: italic;
}


  /* > Floating mio! */

#brandan-landing aside {
  animation-name: MioFloating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  margin: 5px 0 40px 30px;
}

#brandan-landing aside img {
  max-width: 25vw;
  min-width: 200px;
}

@keyframes MioFloating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 30px); }
  100%   { transform: translate(0, -0px); }   
}

/* About section */

  /* > About cover */
#brandan-about header {
  height: 45vh;
  text-align: center;

  background: url("../images/about-header.png") no-repeat center 5rem,
    url("../images/about-background.png") no-repeat left top/cover; /* no background? */
}

#brandan-about header h2 {
  margin-top: 10rem;

  display: inline-block;

  background-color: #212121;

  color: #FFF;
  font-size: 4rem;
  font-family: Norwester;
  letter-spacing: 1rem;
}

/* > About content */

#about-content-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
}

.about-item {
  flex: 1;
}

.about-item:nth-child(odd) {
  background-color: rgba(37, 37, 37, 0.7);
}

.about-item-header {
  text-align: center;

  color: #FFF;
  font-family: "Alatsi";
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.about-item-section {
  padding: 0 1rem;
  text-align: justify;

  color: #FFF;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.8rem;
  text-indent: 3rem;
}

.about-item:nth-child(3) {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.knowledge-image {
  padding: 2rem;
  max-width: 300px;
}

/* > CSS Garden Preview */

#css-zen-garden {
  margin: 1rem;
  padding: 5rem;
  text-align: center;

  cursor: pointer;

  background: linear-gradient(to right, #cc4464 0%, #cc4464 3%, #54445c 3%, #54445c 6%, #cc4464 6%, #cc4464 9%, rgba(0,0,0,0) 9%, rgba(0,0,0,0) 100%),
  linear-gradient(to left, #cc4464 0%, #cc4464 3%, #54445c 3%, #54445c 6%, #cc4464 6%, #cc4464 9%, rgba(0,0,0,0) 9%, rgba(0,0,0,0) 100%),
  linear-gradient(to bottom, #cc4464 0%, #cc4464 6%, #54445c 6%, #54445c 12%, #cc4464 12%, #cc4464 18%, rgba(0,0,0,0) 18%, rgba(0,0,0,0) 100%),
  linear-gradient(to top, #cc4464 0%, #cc4464 6%, #54445c 6%, #54445c 12%, #cc4464 12%, #cc4464 18%, rgba(0,0,0,0) 18%, rgba(0,0,0,0) 100%), #ff4d67;
}

.color_blue {
  padding: 0 0.3rem;

  background-color: #656cd9;
}

#css-zen-garden-header {
  margin-bottom: 1rem;
  border-bottom: 8px solid #52445f;

  color: #FFD5A1;
  font-weight: normal;
  font-size: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#css-zen-garden-subheader {
  margin: 0;
  color: #FFD5A1;
  font-family: BLACK_BUBBLE;
}

.underline {
  font-family: BLACK_BUBBLE;
  border-bottom: 2px dotted #52445f;
}